.main {
  background-image: url('../img/Background-Texture.jpg');
}

.intro, .footer {
  background: #A0DCF8;
  color: #fff;

}

.maze {
  border: 1px solid #000;
  margin: 0.5rem;
  padding: 1rem;
  background-image: url('../img/wrinkled-paper-texture_1100-12.jpg');
}

.rules {
  width: 100%;
  color: #1b1e21;
}

.instructions {
  width: 100%;
  background: #a1cbef;
}

.results {
  background: #fff;

  .lead {
   font-size: 2rem;
  }
}
.big-maze {
  height: 80vh;
  width: 100%;
  padding: 1rem;

}

.wide {
  width: 100%;
}