.maze-preview, .maze-solved {
  table-layout: fixed;
  border: 2px solid #4c110f;
  color: #fff;
  text-align: center;

  .goal, .start, .mine, .empty {
     width: 25px;
     height: 25px;
     border: 1px solid #000;
  }

  .goal {
    background: gold;
  }

  .mine {
    background: #761b18;
  }

  .start {
    background: lightgreen;
  }

  .empty {
    background: #fff;
  }
}

.maze-solved {
  margin: 0 auto;
  .goal, .start, .mine, .empty {
    width: 50px;
    height: 50px;
  }
}
